<div class="p-y-constraint">
  <h1 class="m-x-constraint home-title">Pizzería Don Rémolo</h1>

  <div class="m-x-constraint location-container">
    <a routerLink="/location" class="location-select">
      <ion-icon class="icon" name="location-outline"></ion-icon>
      <span>Tu ubicación</span>
      <ion-icon class="icon" name="chevron-down-outline"></ion-icon>
    </a>
    <div class="shopping-card-button">
      <ion-icon class="icon" name="cart-outline"></ion-icon>
    </div> 
  </div>

  <div class="m-x-constraint search-container">
    <label for="search">
      <ion-icon class="icon" name="search-outline"></ion-icon>
    </label>
    <input id="search" type="text" placeholder="Buscar...">
    <ion-icon class="icon" name="options-outline"></ion-icon>
  </div>

  <div class="categories-container">
    <a routerLink="/category/pizzas" class="category">Pizzas</a>
    <a routerLink="/category/empanadas" class="category">Empanadas</a>
    <a routerLink="/category/postres" class="category">Postres</a>
    <a routerLink="/category/bebidas" class="category">Bebidas</a>
    <a routerLink="/category/ensaladas" class="category">Ensaladas</a>
    <a routerLink="/category/frutas" class="category">Frutas</a>
  </div>

  <div class="pizzas-container">
    <h2 class="m-x-constraint">Destacados <span>Pizzas</span></h2>

    <div class="list-pizzas">
      <div *ngFor="let pizza of responseHttp.pizzas" class="pizza">
        <div class="image">
          <img [src]="pizza.image" alt="Pizza Napolitana">
        </div>
        <div class="details">
          <div class="title">
            <p>{{ pizza.name }}</p>
            <div class="time">
              <ion-icon class="icon" name="time-outline"></ion-icon>
              <span> {{ pizza.time }}</span>
            </div>
          </div>
          <a class="more" href="/pizza/napolitana">Ver más</a>
        </div>
      </div>
    </div>
  </div>

  <div class="empanadas-container">
    <h2 class="m-x-constraint">Empanadas</h2>

    <div class="list-empanadas">
      <div *ngFor="let empanada of responseHttp.empanadas" class="empanada">
        <div class="image">
          <img [src]="empanada.image" alt="Pizza Napolitana">
        </div>
        <div class="details">
          <p>{{ empanada.name }}</p>
        </div>
      </div>
    </div>
  </div>
  
  <div class="postres-container">
    <h2 class="m-x-constraint">Postres</h2>

    <div class="list-postres">
      <div *ngFor="let postre of responseHttp.postres" class="postre">
        <div class="image">
          <img [src]="postre.image" alt="Imagen del postre">
        </div>
        <div class="details">
          <p>{{ postre.name }}</p>
        </div>
      </div>
    </div>
  </div>

  <div class="bebidas-container">
    <h2 class="m-x-constraint">Bebidas</h2>

    <div class="list-bebidas">
      <div *ngFor="let bebida of responseHttp.bebidas" class="bebida">
        <div class="image">
          <img [src]="bebida.image" alt="Imagen de la bebida">
        </div>
        <div class="details">
          <p>{{ bebida.name }}</p>
        </div>
      </div>
  </div>
</div>